/* ton_dex/frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white font-sans m-0 p-0;
}

#root {
  @apply min-h-screen flex flex-col;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
